<!DOCTYPE html>
<html>
<head>
    <title>Bot Logs</title>
</head>

<body class="submit">
    <div id="header">
        <h1>Log files</h1>
    </div>

    <form action="logs" method="post">
        <label for="log-name">Select a log file:</label>
        <select name="log-names" id="log-names">
            <option value="">Select log file</option>
            {% for logFile in logFiles %}
            {% block logFile %}
            <option value="{{ escape(logFile)}}">{{ escape(logFile)}}</option>
            {% end %}
            {% end %}
        </select>
        <select name="registerAmt" id="registerAmt">
            <option value="20">20</option>
            <option value="40">40</option>
            <option value="60">60</option>
            <option value="80">80</option>
            <option value="100">100</option>
        </select>
        <button type="submit" value="Submit">Get Log</button>
        <br />
        <div class="divTable">
            {% for logLine in logLines %}
            {% block logLine %}
            <div class="divRow">
                <div class="divCell">{{ escape(logLine)}}</div>
            </div>
            {% end %}
            {% end %}
        </div>
    </form>
    <div id="footer">
    </div>

</body>
</html>